# the additional (!) requirements for testing the code
# the dependencies of `quemb` itself are given in the setup.py
mkl==2025.0.1
block2 --extra-index-url=https://block-hczhai.github.io/block2-preview/pypi/
git+https://github.com/pyscf/dmrgscf
pytest
