# the additional (!) requirements for testing the code
# the dependencies of `quemb` itself are given in the setup.py
pytest
block2==p0.5.4rc1 --extra-index-url=https://block-hczhai.github.io/block2-preview/pypi/
git+https://github.com/pyscf/dmrgscf
